<section *ngIf="pokemons !== null">
  <h1 class="heading">Collection:</h1>
  <ul class="container">
    <li *ngFor="let pokemon of pokemons" class="pokemon-card">
      <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" />
      <h3>{{ pokemon.name.toUpperCase() }}</h3>
      <p class="number">{{ "#" + pokemon.id.toString().padStart(3, 0) }}</p>
    </li>
  </ul>
</section>
<section *ngIf="pokemons === null">
  <h1 class="warning">
    Warning!!<br />
    You haven't collected any pokemon yet <br />Go back to the pokedex to
    collect some pokemon!
  </h1>
</section>
