* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.8rem;
}

.heading {
  margin: 1rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
  padding-top: 1rem;
  border-radius: 1rem;
}

.number {
  font-weight: 700;
  font-size: smaller;
  color: rgb(104, 104, 104);
  margin-bottom: 1rem;
}

.warning {
  color: red;
  font-family: "Press Start 2P", cursive;
  line-height: 1.3;
  text-align: center;
}
