nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.logo {
  color: rgb(38, 41, 204);
  -webkit-text-stroke: 1px rgb(38, 41, 204);
  -webkit-text-fill-color: yellow;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin: 0 0.3rem;
}

a {
  text-decoration: none;
  background-color: rgb(233, 233, 25);
  color: rgb(74, 74, 158);
  padding: 0.4rem 1rem;
  border-radius: 0.7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border: 2px solid rgb(74, 74, 158);
}

a:hover {
  background-color: rgb(255, 255, 101);
}
