<section class="container">
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <h1 class="logo">BOOTLEG<br />POKEDEX</h1>
    <h1 class="white">Enter your name to and start collecting Pokemon!</h1>
    <input
      type="text"
      [ngClass]="{ 'is-valid': trainerName.valid }"
      placeholder="Enter your trainer name?"
      ngModel
      #trainerName="ngModel"
      id="trainerName"
      name="trainerName"
      required
      minlength="2"
      maxlength="80"
    />
    <button>Lets Go!</button>
    <p class="white">
      This Pokemon collector contains all 151 original pokemons.<br />To start
      collecting, all you have to do is press the Pokemon cards
    </p>
  </form>
  <img src="assets/Pikachu.png" />
</section>
