* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  margin: 1rem 0.5rem 1rem 0;
}

button {
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(230, 230, 10);
}

button:hover {
  background-color: rgb(252, 252, 77);
}

.container {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
  align-items: center;
  -webkit-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
}

.logo {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: "Press Start 2P", cursive;
}

img {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

.white {
  color: white;
}
