<ul class="grid-container">
  <li
    *ngFor="let pokemon of pokemons"
    class="pokemon-card {{ pokemon.types[0].type.name }}"
    (click)="onPokemonClicked(pokemon)"
  >
    <div>
      <p class="number">{{ "#" + pokemon.id.toString().padStart(3, 0) }}</p>
      <h3>
        {{ pokemon.name.toUpperCase()
        }}<img
          *ngIf="pokemon.collected"
          class="collected"
          src="assets/Pokeball-PNG-File.png"
          alt="pokeball"
        />
      </h3>

      <div class="types">
        <p *ngFor="let type of pokemon.types" class="type">
          {{ type.type.name.toUpperCase() }}
        </p>
      </div>
    </div>
    <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" />
  </li>
</ul>
