* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 540px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 810px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1080px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-container {
  display: grid;
  grid-gap: 0.8rem;
}

li {
  list-style: none;
  border-radius: 1rem 4rem 1rem 1rem;
  -webkit-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li h3 {
  color: white;
}

label {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.781);
}

p {
  color: white;
  background-color: rgba(255, 255, 255, 0.411);
  font-weight: 600;
  border-radius: 2rem;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

.collected {
  position: absolute;
  margin-left: 0.6rem;
  max-width: 1rem;
}

.grass,
.poison,
.bug {
  background-color: rgb(62, 161, 107);
}

.water {
  background-color: rgb(114, 114, 202);
}

.fire,
.dragon {
  background-color: rgb(170, 62, 62);
}

.electric {
  background-color: rgb(230, 230, 57);
  color: rgb(29, 29, 29);
}

.normal,
.fighting,
.unknown,
.flying,
.rock,
.steel {
  background-color: rgb(175, 175, 175);
  color: rgb(29, 29, 29);
}

.ground {
  background-color: rgb(151, 103, 72);
}

.ghost p,
.ghost h3 {
  background-color: white;
  color: rgb(29, 29, 29);
}

.ghost p {
  background-color: rgba(0, 0, 0, 0.192);
}

.shadow,
.dark {
  background-color: rgb(29, 29, 29);
}

.fairy {
  background-color: rgb(168, 52, 71);
}

.ice {
  background-color: rgb(169, 171, 255);
  color: rgb(29, 29, 29);
}

.psychic {
  background-color: rgb(80, 26, 97);
}

.types {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.3rem;
}

.number {
  background: none;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.219);
}
