/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: auto;
}

.logo {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: rgb(38, 41, 204);
  -webkit-text-stroke: 2px rgb(38, 41, 204);
  -webkit-text-fill-color: yellow;
}
